html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: #3791CC;
}
* {
    font-family: sans-serif;
}

.main {
    display: flex;
    width: 50%;
    height: 70%;
    background-color: rgb(248, 248, 248);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
}

.content {
    width: 50%;
}
.left-side {

}

.right-side {
    background: #225A7F;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}